{% set legal = get_page(path="legal.md") %}
{% set privacy = get_page(path="privacy-policy.md") %}

<footer id="site-footer">
  <div class="container">
    <section class="footer-content">
      <section class="footer-socials">
        <ul class="social-logos">
          {% for icon in config.extra.social_icons %}
          <li><a class="{{ icon.name }}" href="{{ icon.url }}" target="_blank" title="{{ icon.text }}"><img
                src="/images/logos/svg/{{ icon.name }}.svg" alt=""></a></li>
          {% endfor %}
        </ul>
      </section>
      <section class="row footer-copyright space-between">
        <p>© 2020-{{ now() | date(format="%Y") }} asus-linux.org</p>
        <p>
          <a class="toc-link" href="#">{{ legal.extra.link_name }}</a>
          <span> | </span>
          <a class="toc-link" href="#">{{ privacy.extra.link_name }}</a>
        </p>
      </section>
    </section>
  </div>
</footer>
<div class="toc-modal">
  <div class="toc-item">
    <div class="toc-title">
      <h3>{{ legal.title }}</h3>
      <img class="toc-close" src="/images/icons/close.svg">
    </div>
    <div class="toc-content">
      {{ legal.content | safe }}
    </div>
  </div>
  <div class="toc-item">
    <div class="toc-title">
      <h3>{{ privacy.title }}</h3>
      <img class="toc-close" src="/images/icons/close.svg">
    </div>
    <div class="toc-content">
      {{ privacy.content | safe }}
    </div>
  </div>
</div>